-if user_signed_in?
  =link_to new_item_path, :class => "camera" do
    .camera-title 出品
    %i.fas.fa-camera.fa-3x

-else 
  =link_to signup_path, :class => "camera" do
    .camera-title 出品
    %i.fas.fa-camera.fa-3x