%header.clearfix
  .header__container
    .header__container-above
      =link_to image_tag('http://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?575670517',class: "img") , root_path
      = form_tag(home_search_path, :method => 'get') do
        = text_field_tag :search,'',:placeholder => "何かお探しですか？",class: "field",name:"keyword"
        %label
          %i.fas.fa-search
          = submit_tag 'Search', :name => nil , class: "search"
          
    
    .header__container-under
      .header__container-under--left


        %ul
          %li
            %i.fas.fa-list-ul
            =link_to 'カテゴリーから探す',items_category_path,class:".header__container-under--left-link"
          %li
            %i.fas.fa-tag
            =link_to 'ブランドから探す','#'



      .header__container-under--right
        .header__container-under--right-login
          -if user_signed_in?
            %ul
              %li
                =link_to 'マイページ',home_mypage_path 
              %li
                %i.fas.fa-check
                =link_to 'やることリスト','#'
              %li
                %i.far.fa-bell
                =link_to 'お知らせ','#'
          -else 
            %ul
              %li
                =link_to 'ログイン', new_user_session_path, class: "header_login_button"
                =link_to '新規会員登録', signup_path, class: "header_signup_button"   

