.main-contents__sidebar
  .main-contents__sidebar-mypage
    %ul
      %li
        %select.select-default{:name => "sort_order"}
          %option{:value => ""} 並び替え
          %option{:value => "price_asc"}
            価格の安い順
          %option{:value => "price_desc"}
            価格の高い順
          %option{:value => "created_asc"}
            出品の古い順
          %option{:value => "created_desc"}
            出品の新しい順
          %option{:value => "like_desc"}
            いいね!の多い順
        %i.fas.fa-chevron-right
      %li
        =link_to "お知らせ"
        %i.fas.fa-chevron-right
      %li
        =link_to "やることリスト"
        %i.fas.fa-chevron-right
      %li
        =link_to "いいね！一覧"
        %i.fas.fa-chevron-right
      %li
        =link_to "出品する", new_item_path
        %i.fas.fa-chevron-right
      %li
        =link_to "出品した商品 - 出品中", home_list_exhibit_path
        %i.fas.fa-chevron-right
      %li
        =link_to "出品した商品 - 取引中"
        %i.fas.fa-chevron-right
      %li
        =link_to "出品した商品 - 売却済み"
        %i.fas.fa-chevron-right
      %li
        =link_to "購入した商品 - 取引中"
        %i.fas.fa-chevron-right
      %li
        =link_to "購入した商品 - 過去の取引"
        %i.fas.fa-chevron-right
      %li
        =link_to "ニュース一覧"
        %i.fas.fa-chevron-right
      %li
        =link_to "評価一覧"
        %i.fas.fa-chevron-right
      %li
        =link_to "ガイド"
        %i.fas.fa-chevron-right
      %li
        =link_to "お問い合わせ"
        %i.fas.fa-chevron-right
  .main-contents__sidebar-merupay
    %h3 メルペイ
    %ul
      %li
        =link_to "売上・振込申請"
        %i.fas.fa-chevron-right
      %li
        =link_to "ポイント"
        %i.fas.fa-chevron-right
  .main-contents__sidebar-setting
    %h3 設定
    %ul
      %li
        =link_to "プロフィール", home_profile_path
        %i.fas.fa-chevron-right
      %li
        =link_to "発送元・お届け先住所変更", home_deliver_address_path
        %i.fas.fa-chevron-right
      %li
        =link_to "支払い方法", home_card_create_path
        %i.fas.fa-chevron-right
      %li
        =link_to "メール/パスワード"
        %i.fas.fa-chevron-right
      %li
        =link_to "本人情報", home_identification_path
        %i.fas.fa-chevron-right
      %li
        =link_to "電話番号の確認"
        %i.fas.fa-chevron-right
      %li
        =link_to "ログアウト", home_logout_path
        %i.fas.fa-chevron-right