.purchase-wrapper {
  background-color: #F5F5F5;
}

.purchase-main {
  background-color: #FFFFFF;
  width: 700px;
  margin: 0 auto;
  &__head {
    height: 65px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
  }
  &__detail {
    height: 352px;
    padding: 24px 12.5% 0;
    border-top: 1px solid #f5f5f5;
    &__container {
      width: 320px;
      height: 287px;
      margin: 0 auto;
      &__title {
        display: flex;
        justify-content: space-between;
        img {
          width: 64px;
          height: 64px;
        }
        p {
          width: 240px;
          height: 64px;
        }
      }
      &__price {
        height: 33px;
        font-size: 22px;
        font-weight: 600px;
        text-align: center;
        margin-top: 8px;
        span {
          margin-left: 8px;
          font-size: 14px;
        }
      }
      &__point {
        background-color: #ccc;
        height: 48px;
        font-size: 14px;
        text-align: center;
        line-height: 48px;
      }
      &__pay {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 16px;
        &--title {
          font-size: 18px;
        }
        &--price {
          font-size: 28px;
        }
      }
      &__button {
        background-color: #ea352d;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        width: 320px;
        height: 50px;
        line-height: 50px;
        margin-top: 8px;
      }
    }
  }
  &__delivery-info {
    height: 186.609px;
    padding: 24px 12.5% 40px;
    border-top: 1px solid #f5f5f5;
    &__container {
      width: 320px;
      height: 121.609px;
      margin: 0 auto;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__detail {
        &--title {
          font-weight: bold;
        }
        &--address {
          margin-top: 8px;
        }
      }
      &--change {
        margin-top: 8px;
        display: inline-block;
        width: 100%;
        // display: flex;
        // align-items: flex-end;
        color: #0099e8;
        text-align: right;
        a {
        }
      }
    }
  }
  &__method {
    height: 155.719px;
    padding: 24px 12.5% 40px;
    border-top: 1px solid #f5f5f5;
    &__container {
      width: 320px;
      margin: 0 auto;
      font-size: 14px;
      &--title {
        font-weight: 600;
      }
      &--image {
        width: 49px;
        height: 15px;
      }
      &--info-text {
        margin-top: 8px;
      }
      &--change {
        margin-top: 8px;
        text-align: right;
        a {
          color: #0099e8;
        }
      }
    }
  }
}

