/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }








.signup-wrapper {
  .signup-main4 {
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    height: 600px;
    margin: 0 auto 10px;
    width: 700px;
    &__head {
      background-color: #FFFFFF;
      border-bottom:#eee solid 1px;
      font-size: 22px;
      font-weight: 550;
      height: 63px;
      line-height: 63px;
      padding: 0px 0px 0px 0px;
      text-align: center;
      width: 700px;
      margin: 0 auto 0;
    }
    .a-4 {
      width: 350px;
      margin: 0 auto;
      padding: 30px 10px;
      .signup-main4__form__card-number {
        line-height: 17px;
        display: flex;
        p {
          font-weight: 600;
          font-size: 14px;
          margin: 10px 0px 0px;
        }
        &__input {
          margin: 8px 8px 10px 0px;
          width: 317px;
          border-radius: 4px;
          font-size: 16px;
          padding: 10px 16px 8px;
          border: 1px solid #CCC;
        }
      }
      .credit-card-design {
        height: 24px;
        margin: 0px 0px 30px 5px;
        width: 288.8px;
      }
      .signup-main4__form__expiration-date {
        display: flex;
        align-items: center;
        p {
          font-weight: 600;
          font-size: 14px;
          margin: 10px 0px 0px;
          line-height: 21px;
        }
        span {
          line-height: 17px;
        }
      }
      .signup-expiration-info-select {
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
        &__month {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          &__value {
            background-color: #FFFFFF;
            height: 48px;
            width: 76px;
            margin: 8px 3px 30px 0px;
          }
          &__text  {
            line-height: 48px;
            margin-bottom: 30px;
          }
        }
        &__year {
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          &__value {
            background-color: #FFFFFF;
            height: 48px;
            width: 76px;
            margin: 8px 3px 30px 6px;
          }
          &__text {
            line-height: 48px;
            margin-bottom: 30px;
          }
        }
      }

      .signup-main4__form__security-code {
        line-height: 17px;
        display: flex;
        p {
          font-weight: 600;
          font-size: 14px;
          margin: 10px 0px 0px;
        }
        &__input {
          margin: 8px 8px 10px 0px;
          width: 317px;
          border-radius: 4px;
          font-size: 16px;
          padding: 10px 16px 8px;
          border: 1px solid #CCC;
        }
      }

      .signup-main2__form__sub-head__text {
        text-align: right;
        a { 
          border-radius: 50%;
          background-color: #0099E8;
          color: #FFFFFF;
          display: inline-block;
          font-size: 12px;
          height: 14px;
          text-align: center;
          line-height: 14px;
          width: 14px;
        }

        span {
          color: #0099E8;
          font-size: 14px;
          text-align: right;
        }
        
        
        
        
        // p {
        //   color: #0099E8;
        //   font-size: 14px;
        //   margin: 10px auto 0px;
        //   text-align: right;
        // } 
      }
      .signup-step4-submit {
        background-color: #EA352D;
        color: #FFFFFF;
        font-size: 14px;
        height: 50px;
        width: 350px;
        margin: 40px 0px 0px;
        text-align: center;
        line-height: 50px;
      }  
    }
  }
}



.signup-footer {
  height: 220px;
  width: 100%;
}