/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }





.signup-index-wrapper {
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  // * {
  //   box-sizing: border-box;
  // }
  .signup-index-header {
    height: 128px;
    margin: 0 auto 10px;
    width: 1112px;
    display: flex;
    justify-content: center;
    align-items: center;
    .signup-index-mercari-logo {
      float: left;
      height: 49px;
      line-height: 49px;
      // margin: 10px 0px 0px 90px;
      // padding: 40px 0px 0px 90px;
      width: 185px;
    }
  }
  .signup-index-main {
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    height: 350px;
    margin: 0 auto 10px;
    width: 700px;
    &__head {
      background-color: #FFFFFF;
      border-bottom:#eee solid 1px;
      font-size: 22px;
      font-weight: 550;
      height: 63px;
      line-height: 63px;
      padding: 0px 0px 0px 0px;
      text-align: center;
      width: 700px;
      margin: 0 auto 0;
    }
    .signup-submit-button-form {
      background-color: #FFFFFF;
      height: 287px;
      margin: 0 auto;
      padding: 40px 40px 64px 40px;
      width: 700px;
      .signup-index-mail-box {
        height: 50px;
        margin: 0 auto 16px;
        // padding: 40px 40px 64px 40px;
        width: 620px;
        display: inline-flex;
        a {
          background-color: #EA352D;
          border: 1px solid;
          border-radius: 4px;
          color: #FFFFFF;
          font-size: 14px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 343px;
          margin: 0 auto;
          display:block;
          padding-right: 16px;
          i {
            float: left;
            line-height: 50px;
            padding-left: 16px;
            font-size: 16px;
          }
        }     
      }
      .signup-index-facebook-box {
        height: 50px;
        margin: 0 auto 16px;
        // padding: 40px 40px 64px 40px;
        width: 620px;
        display: inline-flex;
        a{
          background-color: #385185;
          border: 1px solid;
          border-radius: 4px;
          color: #FFFFFF;
          font-size: 14px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 343px;
          margin: 0 auto;
          display:block;
          padding-right: 16px;
          i {
            float: left;
            line-height: 50px;
            padding-left: 16px;
            font-size: 16px;
          }
        }     
      }
      .signup-index-google-box {
        height: 50px;
        margin: 0 auto 16px;
        // padding: 40px 40px 64px 40px;
        width: 620px;
        display: inline-flex;
        a{
          background-color: #FFFFFF;
          border: 1px solid;
          border-color: #979797;
          border-radius: 4px;
          color: #333333;
          font-size: 14px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 343px;
          margin: 0 auto;
          display:block;
          padding-right: 16px;
          i {
            float: left;
            line-height: 50px;
            padding-left: 16px;
            font-size: 16px;
          }
        }     
      }

      .far.fa-envelope {
        height: 16px;
        width: 20px;
      }
    }
  }
}
