.main{
    &-contents{
        &__right{
            &--back{
                background-color: #fff;
                width: 700px;
                height: 568px;
                
                h2{
                    font-size: 24px;
                    padding: 8px 24px;
                    text-align: center;
                    border-bottom: 1px solid #f5f5f5;
                    color: #333;
                    height:50px;
                    line-height: 30px;
                }

                &-profile{
                    background: url(user-bg.jpg);
                    background-size: cover;
                    height:156px;

                    &-el-image{
                        display: flex;
                        justify-content:center;
                        padding: 72px 16px 24px;
                        input{
                            height: 48px;
                            padding: 10px 16px 8px;
                            border-radius: 4px;
                            border: 1px solid #ccc;
                            background: #fff;
                            line-height: 1.5;
                            font-size: 16px;
                            margin:5px 10px;
                        }
                    
                    &-in{
                        border-radius: 60px;
                    }
                  }
                }
            }
            &-textarea{
                padding:40px 16px 0 16px;

                textarea{
                    display: block;
                    width: 100%;
                    padding: 10px;
                    border: 1px solid #ccc;
                    background: #fff;
                    font-size: 16px;
                    line-height: 1.5;
                    height:216px;
                }
            }

            &-item{
                &-change{
                    background-color: #e62017;
                    color: #fff;
                    justify-content: center;
                    margin: 16px 0 0;
                    font-size: 14px;
                    height:50px;
                    line-height: 20px;
                    border-right:16px solid #fff;
                    border-left:16px solid #fff;
                }
            }

            
        }
    }
}