.main-contents__right--logout{
    width: 700px;
    height: 179px;
    background-color: #fff;
    text-align: center;
}

.main-contents__right-item-logout{
    background-color: #e62017;
    color: #fff;
    padding:18px 125px;
    margin: 16px 0 0;
    font-size: 14px;
    height:50px;
    line-height: 179px;
}