

.main-contents__right-result{
    font-size: 22px;
    margin: 0 0 8px;
}

.main-contents__right-figure{
    margin: 16px 0;
    font-size: 12px;
    color: #888;
    display: inline-block;
}

.item-container__wrapper-contents-parts-box-search{
        margin: 0 15px 15px 0;
        width:160px;
        position:relative;
        box-shadow: 0 2px 4px rgba(0,0,0,.18);

        &:hover{
          outline: 1px solid #0099e8;
        }

        &-price-in{
            height:160px;
          }

          &-text {
            background-color: white;
            height: 58px;
            width:160px;

            p {
                font-size: 16px;
                color: #333;
              }

            &-title {
                padding: 15px;
              }

            &-price {
                padding: 10px 0 0 15px;
              }
          }
}